.popup-content {
  font-family: monospace;
}

.popup-body {
  white-space: pre-wrap;
}

.popup-section {
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.popup-section-break {
  margin-bottom: 1rem;
}

.popup-section-title {
  font-weight: bold;
}